@charset "UTF-8";

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  mox-sizing: border-box;
}

body, h1, h2, p, ul, li{
  margin: 0;
  padding: 0;
  letter-spacing: .1em;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}


/* header */

header{
  background: black;
  width: 100%;
  line-height: 72px;
  color: white;
  font-weight: bold;
  a:link {color:white; text-decoration:none }
     a:visited { color:white; text-decoration:none }
     a:hover { color:white; text-decoration:none }
     a:active { color:white; text-decoration:none }
}

.container{
  width: 80%;
  margin: auto;
}

.btn:hover{
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
}

.header-list{
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-list-ul{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  li{
    margin-right: 16px;
    list-style: none;
  }
}

/* home */

.home{
  padding: 40px 0;
  text-align: center;
  background-image: url(headphone.png);
  background-position: center;
  background-size: cover;
  height: 600px;
  h2{
    margin-bottom: 60px;
  }
}

/* about */

.about{
  margin-top: 40px;
}

/* signup */

.signup{
  font-weight: bold;
  margin: 40px auto 0 auto;
  width: 400px;
  h1{
    margin: 40px 0;
  }
  input, textarea, select, .uneditable-input {
  height: 28px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: .3em;
  width: 100%;
  margin-bottom: 28px;
  @include box_sizing;
  }
  input[type="submit"], .new-btn{
    margin-top: 20px;
    font-size: 12px;
    background: #0066FF;
    border-color: #000099;
    color: white;
    &:hover{
      opacity: .7;
      transition: .3s;
    }
  }
}

/* error message */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

/* ユーザーインデックス */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}
